# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Java compiled files
*.class
*.jar
*.war
*.ear

# Ignore IDE-specific files
.idea/
*.ipr
*.iws
*.iml

# Ignore Eclipse-specific files
.classpath
.project
.settings/

# Ignore Maven build directory
target/

# Ignore TestNG and Cucumber reports
test-output/
test-output/**
cucumber.json
cucumber.xml
HtmlReports.html

# Ignore test report files
*.png
*.gif
*.html
*.css
*.js
testng*.xml
testng-reports/
testng-reports/**

# Ignore log files and temporary files
logs/
*.log
*.tmp

# Ignore dependency and virtual environments
node_modules/
venv/
__pycache__/
*.pyc

# Ignore configuration files (if containing sensitive data)
config.properties
credentials.json
.env
