<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="demoblaze.tests.Checkout"/>
      <class name="apiTests.LoginApiTest"/>
      <class name="demoblaze.tests.ShoppingCart"/>
      <class name="apiTests.AddtoCartApiTest"/>
      <class name="demoblaze.tests.Login"/>
      <class name="hooks.Hooks"/>
      <class name="apiTests.DeleteCartTest"/>
      <class name="demoblaze.tests.SignUp"/>
      <class name="apiTests.ViewCartAPITest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
